<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:artemis.cit.tum.de</string>
		<string>applinks:artemis-staging.artemis.cit.tum.de</string>
		<string>applinks:artemis-test1.artemis.cit.tum.de</string>
		<string>applinks:artemis-test2.artemis.cit.tum.de</string>
		<string>applinks:artemis-test3.artemis.cit.tum.de</string>
		<string>applinks:artemis-test4.artemis.cit.tum.de</string>
		<string>applinks:artemis-test5.artemis.cit.tum.de</string>
		<string>applinks:artemis-test6.artemis.cit.tum.de</string>
		<string>applinks:artemis-test9.artemis.cit.tum.de</string>
		<string>webcredentials:artemis.cit.tum.de</string>
		<string>webcredentials:artemis-staging.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test1.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test2.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test3.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test4.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test5.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test6.artemis.cit.tum.de</string>
		<string>webcredentials:artemis-test9.artemis.cit.tum.de</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)de.tum.cit.ase.artemis</string>
	</array>
</dict>
</plist>
