<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:artemis.in.tum.de</string>
		<string>applinks:artemis.ase.in.tum.de</string>
		<string>applinks:artemis-test1.artemis.in.tum.de</string>
		<string>applinks:artemis-test2.artemis.in.tum.de</string>
		<string>applinks:artemis-staging.artemis.in.tum.de/</string>
		<string>applinks:artemis-test3.artemis.in.tum.de</string>
		<string>applinks:artemis-test5.artemis.in.tum.de</string>
		<string>applinks:artemis-test6.artemis.in.tum.de</string>
		<string>applinks:artemis-test10.artemis.in.tum.de</string>
	</array>
</dict>
</plist>
