name: build-and-test-ios-app

on:
  push:
    branches-ignore:
      - main
      - develop
  workflow_call:
  workflow_dispatch:
    
jobs:
  build:
    permissions:
      contents: read
    runs-on: [self-hosted, macOS]
    steps:
      - uses: actions/checkout@v6

      - name: Install Gems
        run: eval "$(/opt/homebrew/bin/rbenv init - --no-rehash bash)" && bundle install

      - name: Print versions
        run: eval "ruby -v"

      - name: Check static code quality of iOS App
        run: eval "$(/opt/homebrew/bin/rbenv init - --no-rehash bash)" && bundle exec fastlane swift_lint

      # Uncomment to run tests
      # - name: Run Unit and UI Tests
        # run: eval "$(/opt/homebrew/bin/rbenv init - --no-rehash bash)" && bundle exec fastlane test

      - name: Generate build number
        run: |
          # Build number is current date/time in format YYYYMMDDHHMM
          BUILD_NUMBER=$(date +'%Y%m%d%H%M')
          echo "BUILD_NUMBER=$BUILD_NUMBER" >> $GITHUB_ENV
          echo "Build is $(date +'%Y%m%d%H%M')"
        
      - name: Build iOS App 
        run: eval "$(/opt/homebrew/bin/rbenv init - --no-rehash bash)" &&  bundle exec fastlane build
        env: 
          MATCH_GITLAB_AUTH: ${{ secrets.IOS_MATCH_GITLAB_AUTH }}
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          MATCH_GIT_URL: ${{ vars.IOS_MATCH_GIT_URL }}
          API_KEY_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_KEY_ID }}
          API_KEY_ISSUER_ID: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          API_KEY_PASSWORD: ${{ secrets.IOS_APP_STORE_CONNECT_API_KEY_PASSWORD }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ios-app
          path: /opt/actions-runner/_work/artemis-ios/artemis-ios/build/App.ipa
